@use "var.scss" as *;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #C4D6A4;
  --color-primary-dark: #46a758;

  --color-secondary: #ADCAB8;
  --color-secondary-dark: #2c6569;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
.title {
  font-family: var(--font-dancing), cursive;
  font-weight: normal;
}

.section {
  min-height: 100vh;
  padding: 20px;

  @media screen and (min-width: $medium-screen-breakpoint) {
    padding: 100px 50px 50px;
  }

  &:nth-child(n) {
    background-color: var(--color-primary);
  }

  &:nth-child(2n) {
    background-color: var(--color-secondary);
  }

  h2 {
    text-align: center;
    padding: 0 50px 50px;
    font-size: 50px;

    @media screen and (min-width: $large-screen-breakpoint) {
      font-size: 55px;
    }

    @media screen and (min-width: $large-screen-breakpoint) {
      font-size: 64px;
    }
  }

  .title {
    font-size: 24px;
  }

  .container-2-cols {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    @media screen and (min-width: $large-screen-breakpoint) {
      flex-direction: row;
      align-items: center;
    }

    &.reverse {
      @media screen and (min-width: $large-screen-breakpoint) {
        flex-direction: row-reverse;
      }
    }

    > div:has(p) {
      @media screen and (min-width: $large-screen-breakpoint) {
        max-width: 30%;
        line-height: 2;
      }
    }
  }
}
